menu "WULPUS PRO Configuration"

    config WP_ENABLE_PM
        bool "Enable power management"
        default y
        help
            This enables power management.
    
    config WP_PM_MIN_FREQUENCY
        int "Minimum frequency for DFS"
        default 10
        range 1 100
        help
            This sets the minimum frequency for DFS in MHz.
            The default value is 10 MHz.
        depends on WP_ENABLE_PM

    config WP_DOUBLE_RESET
        bool "Double reset detection"
        default y
        help
            This erases the NVS to reset provisioned status of the device on double reset.

    config WP_DOUBLE_RESET_TIMEOUT
        int "Double reset timeout [ms]"
        default 2000
        range 1000 20000
        help
            This sets the timeout for double reset detection in milliseconds.
            The default value is 2000 milliseconds.
        depends on WP_DOUBLE_RESET

    config WP_SOCKET_PORT
        int "Socket port"
        default 2121
        range 1 65535
        help
            This sets the socket port for the server.
            The default value is 2121.

    config WP_SERVER_STACK_SIZE
        int "Server task stack size [bytes]"
        default 4096
        range 1024 16384
        help
            This sets the server task stack size in bytes.
            The default value is 4096 bytes.

    config WP_SERVER_PRIORITY
        int "Server task priority"
        default 5
        range 1 10
        help
            This sets the server task priority.
            The default value is 5.

    config WP_SERVER_RX_BUFFER_SIZE
        int "Server RX buffer size [bytes]"
        default 128
        range 32 8192
        help
            This sets the server RX buffer size in bytes.
            The default value is 128 bytes.

endmenu
