menu "provisioner Configuration"

    config PROVISIONER_RESET_ON_FAILURE
        bool "Reset on failure"
        default y
        help
          Reset the provisioner on failure.

    config PROVISIONER_RESET_ON_FAILURE_TRIES
        int "Reset on failure tries"
        default 3
        depends on PROVISIONER_RESET_ON_FAILURE
        help
          Number of tries before reseting the provisioner.

    config PROVISIONER_POP
        string "Proof of possession password"
        default "abcd1234"
        help
          Proof of possession password which will be used in the provisioning process.

endmenu
